.link {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    background:  #fff;
    border-top: var(--grey-border);
    border-left: var(--grey-border);
    color: #000;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.link.link-primary {
    background-color: var(--color-primary);
    border-color: var(--color-primary);

    color: #fff;
}

.link.link-transparent {
    background-color: transparent;
    border: none;
    box-shadow: none;
    color: var(--link-color);
}

.btn {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    background:  #fff;
    border-top: var(--grey-border);
    border-left: var(--grey-border);
    color: #000;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.btn.btn-primary {
    background-color: var(--color-primary);
    color: #fff;
}