

:root {
    --label-size: 18px;
    --font-family: "Inter",sans-serif;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: 'Inter',sans-serif;
    font-weight: 500;
    color: var(--title-color);
}

body {
    color: var(--global-color);
}